<table>
<tr>
    <th>
        Referenz
    </th>
    <th>
        Erinnerungstext
    </th>
    <th>
       Erscheinungszeit
    </th>
     <th>
       Erledigt
    </th>
    <th>
        Verschieben
    </th>
</tr>
<tbody id="reminder_body">
<% @reminders_to_do&.each do |r|%>
    <tr>
        <%= hidden_field_tag("reminder[id]", r.id)%>
            <td><span style="font-weight:bold">Dokumentation:</span><%=Documentation.find(r.documentation_id).created_at.strftime("%d.%m.%Y")%></br>
            <span style="font-weight:bold">Wunde:</span><%=WoundType.find(Wound.find(Documentation.find(r.documentation_id).wound_id).wound_type_id).type_name%>
            </td >
            <td><%== r.text%> </td>
            <td><%= r.publication_date.strftime("%d.%m.%Y %H:%M")%></td>
            <td> <%= check_box(:reminder, :checked, {checked: r.checked}, "true","false")%></td>
            <td><button  counter=<%=r.counter%> id="post_pone_button" type="button" class="btn btn-secondary notification" >Verschieben<span class="badgegrey"><%=r.counter%></span></button>
            <span hidden="hidden"id="postpone-content" >
                <input id="reminder_PBDATE" name="reminder[publication_date]" min=<%= DateTime.now.strftime("%Y-%m-%dT%H:%M")%> max=<%=(DateTime.now + 1.day).strftime("%Y-%m-%dT%H:%M")%> type="datetime-local">
                <textarea name ="reminder[justification_text]" id="justification_text" placeholder="Begründung fürs Verschieben (Pflicht) "></textarea>
                <button type="button" class="btn btn-success" id="postpone_reminder_save">Speichern</button>
            </span>
             <span class="justitext">Letzter Verschiebungstext:</br><%=r.justification_text%></span>
            </td>
        
    </tr> 
<%end%>
</tbody>
<tr>

</tr>

</table>