<div class="modal" id="reminder_modal_popup" tabindex="-1" role="dialog" aria-labelledby="reminder_modal_popup" aria-hidden="true">
  <span hidden="hidden" id="filter_holder_jserb"></span>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong><h5 id="reminder_popup_label">Erinnerungen</h5></strong>
        <button id="close_remdinder_popup" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body" id = "reminder_popup_modal_body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a id="popuped_reminders" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Erinnerungen</a>
                </li>
                <li class="nav-item">
                    <a id="all_patient_reminders" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Alle Erinnerungen von diesem Patienten</a>
                </li>
                <li class="nav-item">
                    <a id="all_reminders" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Erinnerungen aller Patienten</a>
                </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><%=render partial: "reminders/reminder_content_todo"%></div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><%= render partial: "reminders/reminder_content_patients_reminders"%></div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><%= render partial: "reminders/reminders_from_all_patients"%></div>
                </div>
        </div>
      <div class="modal-footer">
        <button  id="close_remdinder_popup"type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>