document.getElementById("pills-home").innerHTML="<%=j (render partial: '/reminders/reminder_content_todo')%>"
document.getElementById("pills-profile").innerHTML="<%=j (render partial: '/reminders/reminder_content_patients_reminders')%>"
$("#filter_holder_jserb").html(document.getElementById("search_filter_table").value)
document.getElementById("pills-contact").innerHTML="<%=j (render partial: '/reminders/reminders_from_all_patients')%>"
document.getElementById("search_filter_table").value = $("#filter_holder_jserb").html()
$("#search_filter_table").keyup()