<button id="show_all_images" type="button" class="btn btn-outline-info">Alle Bilder dieser Wunde</button>
<!-- Trigger the Modal -->
<!-- The Modal -->
<div id="show_all_images_modal" class="modal">

  <!-- The Close Button -->
  <span id="close_all_images"class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <div class="modal-content" id="modal-all-images">
 <div id="all_images_carousel" class="carousel slide" data-interval="false"data-ride="carousel">
 <%bigarray = Wound.find(w_id).images.concat(Wound.find(w_id).documentations.map{|x| x.images}.flatten) %>
 
  <ol id="carousel-indicators-all-images" class="carousel-indicators"> 
    <%bigarray.each_with_index do |a,index|%>
    <%if index == 0%>
        <li class="active" data-target="#all_images_carousel" data-slide-to=<%=index%>><img class="new-thumb" src=<%="#{a.url}"%>></li>
        
    <%else%>
       <li data-target="#all_images_carousel" data-slide-to=<%=index%>><img class="new-thumb" src=<%="#{a.url}"%>></li>
    <%end%>  
    <%end%>
  </ol>
            <div id="carousel-inner-all-images"class="carousel-inner">
                
                <%bigarray.each_with_index do |a,index|%>
                    <%if index == 0%>
                        <div class="carousel-item active">
                            <img class="d-block w-100" src=<%="#{a.url}"%> %>>
                            <div class="carousel-caption d-none d-md-block"><%= a.url.split("/")[5]%></div>
                        </div>     
                    <%else%>
                        <div class="carousel-item">
                            <img class="d-block w-100" src=<%="#{a.url}"%> %>>
                            <div class="carousel-caption d-none d-md-block"><%= a.url.split("/")[5]%></div>
                        </div>
                    <%end%>
                <%end%>
               
            </div>
  
  
  
  
  
  <a class="carousel-control-prev" href="#all_images_carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#all_images_carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
    
</div>
