    <div class="card">
        <div class="card-header" id="cave">
            <h6 class="mb-0">
               Cave  
            </h6>
        </div>

         <div class="card-body">
          <div class="row row-cols-xl-3">
    <div class ="form-group-cave">
        <label for="allergy"> Allergien:</label>
        <%= text_area(:cave, :allergy, value: Cave.find_by(patient_id: session[:patient_id].to_s).try(:allergy)) %>    
</div>

    <div class ="form-group-cave">
        <label for= "germs"> Resistente Keime:</label>
        <%= text_area(:cave, :resistant_germs, value: Cave.find_by(patient_id: session[:patient_id].to_s).try(:resistant_germs)) %> 
    </div>

    <div class ="form-group-cave">
        <label for= "other"> Sonstiges:</label>
        <%= text_area(:cave, :other, value: Cave.find_by(patient_id: session[:patient_id].to_s).try(:other)) %>
    </div>
</div>
  </div>
</div>

