    <div class="card">
        <div class="card-header" id="comment">
            <div class="row">
                <div class="col-sm-5 col-lg-7" >
                <span style="font-size:10pt">+</span>
                     <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                            data-target="#comment-content" aria-expanded="true"
                            aria-controls="comment-content">
                            Verlauf Bemerkungen
                            </button>
                </div>
            <div class="col-sm-7 col-lg-5 ">
                <button data-dialog-target="#dialog" id="new-comment" type="button" class="btn btn-info mx-2 my-2" >Neue Bemerkung</button>
                <div class="dialog" id="dialog">
                    <div class="dialog-header">
                        <div class="title">Neue Bemerkung erstellen</div>
                            <button id="comment-close-button" type="button" class="close-button">&times;</button>
                    </div>
                    <div class="dialog-body">
                            <%= render partial: "/wound/comment_doc" %>
                            <%= render partial: "/wound/comment_template" %>
                            <button id="save-comment" type="button" class="btn btn-success">Hinzufügen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="comment-content" class="collapse" aria-labelledby="comment">
        <div class="card-body">
            <div id="comment-content"></div>
            <div id="scroller-verlauf">
                <table id="commentlist">
                    <tr>
                        <th id="bemerkung">Bemerkung</th>
                        <th id="bemerkung">Datum</th>
                    </tr>
                    <tr style="background-color: white; border:solid lightgray 0.5px;">
                        <td id="bemerkung">
                                <% ActionTextRichText.where(record_type: "Wound", record_id:
                            w_id)&.each do |b| %>
                            <span style="font-weight: bolder">Wundaufnahme:</span>
                            <%== b.body%>
                        </td>
                        <td>
                            <%=b.created_at.strftime("%d.%m.%Y")%>
                            <%end%>
                        </td>
                    </tr>
                    <%documentation_ids=Wound.find(w_id).documentations.where("id<=?",@documentation.id.nil? ?Documentation.last.try(:id) : @documentation.id).pluck(:id)%>
                    <% documentation_ids.delete(@documentation.id)%>

                    <%documentation_ids&.each do |c|%>
                    <%ActionTextRichText.where(record_type:"Documentation",record_id: c)&.each do |rt|%>
                    <tr style="background-color: white; border:solid lightgray 0.5px;">
                        <td id="bemerkung">
                                <span style="font-weight: bolder">Bisherige Bemerkungen:</span>
                                
                                <%==  rt.body %>
                        </td>
                        <td>

                            <%=rt.created_at.strftime("%d.%m.%Y")%>    
                        </td>
                        
                    </tr>
                    <%end%>
                    <%end%>
                    
                    <% ActionTextRichText.where(record_type: "Documentation", record_id:@documentation.id)&.each do |a| %>
                    <tr>
                        <td id="bemerkung">
                            <%== a.body %>
                        </td>
                        <td>
                            <%=a.created_at.strftime("%d.%m.%Y")%>
                        </td>
                        <% end %>
                    </tr>
                </table>
            </div>
        </div>
    </div>
                                    
                                