<div class="template" id="template">
    <div class="template-header">
        <div class="template-title">Vorlage wählen</div>
        <button id="template-close-button" type="button" class="close-button-template">&times;</button>
    </div>
    <div class="scroller">
    <div class="template-body">
         <% Vorlage.all.each do |a|%>
            <div class="auswahl">
            <div id="hover_name">
            <%=a.template_name %>
            <div id="hover_content">
            <%=a.template_content%>
            </div>
            </div>
            
            </div>
            <%end%>
        </div>
        </div>
        <div class="template-footer">
        <button id="save-template" type="button" class="btn btn-success">Wahl bestätigen</button>
    </div>
</div>
