<%= form_with model:@documentation,multipart: true, url: {controller: :wound,action: :create_documentation} do%>
    <%= hidden_field_tag("documentation[wound_id]", @wound.id)%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="wundbeurteilung-1">
                        <span style>+
        
                                <div id="wundberurteilung1" class="btn button-transparent btn-sm"
                                        data-toggle="collapse" data-target="#wundbeurteilung-1-content" aria-expanded="true"
                                        aria-controls="wundbeurteilung-1-content" style=" font-size:10.5pt">
                                    Wundbeurteilung 1 (Schmerz, Größe, Phasen, Exsudation,...)
                        </div>
                    </span>
                        </div>
    
                        <div id="wundbeurteilung-1-content" class="collapse show" aria-labelledby="wundbeurteilung-1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 col-lg-8 col-xl-3" id="subtitle">
                                        <%= "Wundschmerz:" %>
                                    </div>
    
    
                                    <div class="col-md-6">
                                        <div class="slidecontainer">
    
    
                                            <input type="range" min="0" max="10" class="slider" id="myRange" step="1"
                                                   name="documentation[pain]" value="0">
    
    
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="valueSpan2" style="margin-left:0.5cm"></span>
                                        <%=text_field_tag("Schmerz",Documentation.find_by(id:@documentation.id).try(:pain))%>
                                    </div>
                                </div>
    
                                <div class="row border-bottom mt-1">
                                    <div class="col-md-3">
    
                                    </div>
                                    <div class="col-md-9">
                                        <%= label_tag("documentation_bandage_change_true","Immer")%>
                                        <%= radio_button_tag("documentation[bandage_change]",true,checked =
                                        @documentation.bandage_change == true)%>
                                        <%= label_tag("documentation_bandage_change_false","Nur bei Verbandswechsel")%>
                                        <%= radio_button_tag("documentation[bandage_change]",false,checked =
                                        @documentation.bandage_change == false)%>
                                    </div>
    
                                </div>
                                
    
                                <div class="row border-bottom mt-1">
                                    <div class="col-sm-3" id="subtitle">
                                        <%=label_tag(:documentation,"Wundgröße:")%>
                                    </div>
    
    
                                    <div class="col-sm-3" >
                                        <label for="width">
                                            Breite:
                                            <input id="width" name="documentation[width]" type="number" step="0.1" min="0"
                                                   max="200" value=<%=@doc_last.nil? ? " ": @doc_last.width%> />
                                            cm
                                        </label>
                                    </div>
    
                                    <div class="col-sm-3">
                                        <label for="depth">
                                            Tiefe:
                                            <input id="depth" name="documentation[depth]" type="number" step="0.1" min="0"
                                                   max="200" value=<%=@doc_last.nil? ? " ": @doc_last.depth%> />
                                            cm </label>
                                    </div>
    
                                    <div class="col-sm-3">
                                        <label for="length">
                                            Länge:
                                            <input id="length"  name="documentation[length]" type="number" step="0.1" min="0"
                                                   max="200" value=<%=@doc_last.nil? ? " ": @doc_last.length%> />
                                            cm </label>
                                    </div>
    
    
                                </div>
    
                                
    
                                <div class="row">
                                    <div class="col-2" id="subtitle">
                                        <%=label_tag(:woundphases,"Wundphase:")%>
                                    </div>
                                </div>
                                
                                <div class="row border mt-1">
                                    <div class="col-md-4 col-lg-5 col-xl-4">
                                   
                                        <span id="subtitle1">
                                            <%=label_tag(:woundphases,"Exsudationsphase")%>
                                        </span>
                                    </div>
                                    <div class="form-col-w1" >
                                        <span id="Exsudationsphase">
                                            <%=collection_check_boxes(:woundphases,:wound_phase_options,WoundPhaseOption.where(wound_phase: "1").order('description ASC'),:id,:description,{checked: @doc_last.nil? ? "false": @doc_last.wound_phase_options.pluck(:id)}) do |b|%>
                                            <div class="custom-control custom-checkbox">
                                                <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                            </div>
                                            <%end%>
                                        </span>
                                    </div>
                                </div>
                            
                                <div class="row border mt-1">
                                    <div class="col-md-4 col-lg-5 col-xl-4" >
                                        <span id="subtitle1">
                                            <%=label_tag(:woundphases,"Granulationsphase/ Wundgrund")%>
                                        </span>
                                    </div>
                                    <div class="form-col-w1" >
                                        <span id="Granulationsphase">
                                        <%=collection_check_boxes(:woundphases,:wound_phase_options,WoundPhaseOption.where(wound_phase: "2").order('description ASC'),:id,:description,{checked: @doc_last.nil? ? "false": @doc_last.wound_phase_options.pluck(:id)}) do |b|%>
                                        <div class="custom-control custom-checkbox">
                                            <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                        </div>
                                        <%end%>
                                        </span>
                                    </div>
                                </div>
                          
                                <div class="row border mt-1">
                                    <div class="col-md-4 col-lg-5 col-xl-4" >
                                        <span id="subtitle1">
                                            <%=label_tag(:woundphases,"Epithelisierungsphase")%>
                                        </span>
                                    </div>
                                    <div class="form-col-w1" >
                                        <span id="Epithelisierungsphase">
                                        
                                            <%=collection_check_boxes(:woundphases,:wound_phase_options,WoundPhaseOption.where(wound_phase: "3").order('description ASC'),:id,:description,{checked: @doc_last.nil? ? "false": @doc_last.wound_phase_options.pluck(:id)}) do |b|%>
                                            <div class="custom-control custom-checkbox">
                                                <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                            </div>
                                            <%end%>
                                        </span>
                                    </div>
                                </div>
    
                                <div class="row border mt-1">
                                    <div class="col-md-4 col-lg-4" >
                                        <span id="subtitle1">
                                            <%=label_tag(:woundphases,"Nekrotisch")%>
                                        </span>
                                    </div>
                                    <div class="form-col-w1" >
                                        <span id="Nekrotisch">
                                    
                                            <%=collection_check_boxes(:woundphases,:wound_phase_options,WoundPhaseOption.where(wound_phase: "4").order('description ASC'),:id,:description,{checked: @doc_last.nil? ? "false": @doc_last.wound_phase_options.pluck(:id)}) do |b|%>
                                            
                                                <div class="custom-control custom-checkbox">
                                                    <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                                </div>
                                                <%end%>
                                        </span>
                                    </div>
                                </div>

                                
                                <!--Wundexsudation-->
                                <div class="row border-bottom border-top mt-1">
                                    <div class="col-sm-3 col-lg-4" id="subtitle">
                                        <%=label_tag(:exudations, "Wundexsudation:")%>
                                    </div>
                                    <div class="form-col-w1">
                                        <span id="Wundexsudation">
                                            <%=collection_check_boxes(:documentation, :exudation_ids, Exudation.order('description ASC'), :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.exudations.pluck(:id)}) do |b|%>
                                                <div class="custom-control custom-checkbox required">
                                                <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                                </div>
                                            <%end%>
                                        </span>
                                    </div>
                                </div>
                        
                                <!--Wundränder-->
                                <div class="row border-bottom mt-1">
                                    <div class="col-sm-3 col-lg-4" id="subtitle">
                                        <%=label_tag(:wound_margins, "Wundränder:")%>
                                    </div>
                                    <div class="form-col-w1">
                                        <span id="Wundränder">
                                        <%=collection_check_boxes(:documentation, :wound_margin_ids, WoundMargin.order('description ASC'), :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.wound_margins.pluck(:id)}) do |b|%>
                                        <div class="custom-control custom-checkbox">
                                            <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                        </div>
                                        <%end%>
                                        </span>
                                    </div>
                                </div>
                
                                <!--Wundinfektion-->
                                <div class="row ">
                                    <div class="col-md-3 col-lg-4" id="subtitle">
                                        <%=label_tag(:infections, "Wundinfektion:")%>
                                    </div>
                                    
                                        <div class="form-col-infection">
                                        <span id="Wundinfektion">
                                            <%=collection_check_boxes(:infections, :infections_ids, Infection.order('description ASC'), :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.infections.pluck(:id)}) do |b|%>
                                                <div class="custom-control custom-checkbox">
                                                <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                                <%if(Infection.find(b.value).data_type_id == 3)%>
                                                <%=date_field_tag("infections[#{b.value}]", DocumentationsInfection.find_by(documentation_id:
                                                @doc_last.nil? ? "false": @doc_last.id,infection_id:b.value).try(:value)) %>
                                                <%end%>
                                                </div>
                                            <%end%>
                                        </span>
                                        </div>
                                   
                                </div>
                                </br>
                                
    
    
                            </div>
                            </div>
    
                        </div>
                        
    
    
                        <div class="card">
                            <div class="card-header" id="wundbeurteilung-2">
                            <span >+</span>
                                    <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                                            data-target="#wundbeurteilung-2-content" aria-expanded="true"
                                            aria-controls="wundbeurteilung-2-content" style=" font-size:10.5pt">
                                        Wundbeurteilung 2 (Wundumgebung, Debridement, Wundspülung,...)
                                    </button>

                            </div>
    
                            <div id="wundbeurteilung-2-content" class="collapse" aria-labelledby="wundbeurteilung-2"
                                >
                                <div class="card-body">
                                    <div class="row border-bottom mt-1">
    
    
                                        <!--Wundumgebung-->
    
                                        <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                            <%=label_tag(:surroundings, "Wundumgebung:")%>
                                        </div>
                                        <div class="form-col-w2">
                                <span id="Wundumgebung">
                                    <%=collection_check_boxes(:documentation, :surrounding_ids, Surrounding.order('description ASC'), :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.surroundings.pluck(:id)}) do |b|%>
                                        <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                        </div>
                                    <%end%>
                                </span>
                                        </div>
                                    </div>

                                    <!--Debridement-->
                                    <div class="row border-bottom mt-1">
                                        <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                            <%=label_tag(:debridements, "Debridement:")%>
                                        </div>
                                        <div class="form-col-w2">
                                    <span id="Debridement">
                                    <%=collection_check_boxes(:documentation, :debridement_ids, Debridement.order('description ASC'), :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.debridements.pluck(:id)}) do |b|%>
                                        <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                        </div>
                                    <%end%>
                                </span>
                                        </div>
                                    </div>
            
                                    <!--Wundspülung/-reinigung-->
                                    <div class="row border-bottom mt-1">
                                        <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                            <%=label_tag(:cleansings, "Wundspülung/-reinigung:")%>
                                        </div>
                                        <div class="form-col-w2">
                                    <span id="Wundspülung">
                                        <%=collection_check_boxes(:documentation, :cleansing_ids, Cleansing.order('description ASC'), :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.cleansings.pluck(:id)}) do |b|%>
                                            <div class="custom-control custom-checkbox">
                                            <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                            </div>
                                        <%end%>
                                    </span>
                                        </div>
                                    </div>
      
                                    <!--Hautzustand-->
                                    <div class="row border-bottom mt-1">
                                        <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                            <%=label_tag(:skin_conditions, "Hautzustand:")%>
                                        </div>
                                        <div class="form-col-w2">
                                    <span id="Hautzustand">
                                        <%=collection_check_boxes(:documentation, :skin_condition_ids, SkinCondition.order('description ASC'), :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.skin_conditions.pluck(:id)}) do |b|%>
                                            <div class="custom-control custom-checkbox">
                                            <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                            </div>
                                        <%end%>
                                    </span>
                                        </div>
                                    </div>
               
    
                                    <!--Hautpflege-->
                                    <div class="row border-bottom mt-1">
                                        <div class="col-md-3 col-lg-4 col-xl-3" id="subtitle">
                                            <%=label_tag(:skin_cares, "Hautpflege:")%>
                                        </div>
    
                                        <div class="form-col-w2">
                                    <span id="Hautpflege">
                                        <%=collection_check_boxes(:documentation, :skin_care_ids, SkinCare.all, :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.skin_cares.pluck(:id)}) do |b|%>
                                            <div class="custom-control custom-checkbox">
                                            <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                           <%if(SkinCare.find(b.value).data_types_id == 3)%>
                                                <%=date_field_tag("skin_cares[#{b.value}]") %>
                                                <%end%>
                                            </div>
                                        <%end%>
                                    </span>
                                        </div>
                                    </div>
    
                                </div>
    
                            </div>
                            </div>
                            
                                          
                            <!--Wundauflage-->
                            <div class="card">
                                <div class="card-header" id="wundauflage">
                                <span>+</span>
                                        <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                                                data-target="#wundauflage-content" aria-expanded="true"
                                                aria-controls="wundauflage-content" style=" font-size:10.5pt">
                                            Wundauflage
                                        </button>
                       
                                </div>
                                
    
                                <div id="wundauflage-content" class="collapse" aria-labelledby="wundauflage"
                                    >
                                    <div class="card-body">
                                        <div class="row">
                                            <!--   -->
                                            <div class="col-3">
                    <span id="Wundauflage">
                    <%=collection_check_boxes(:documentation, :dressing_ids, Dressing.all, :id, :description,{checked: @doc_last.nil? ? "false": @doc_last.dressings.pluck(:id)}) do |b|%>
                        <div class="custom-control custom-checkbox">
                            <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                        </div>
                    <%end%>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
    
                            <div class="card">
                                <div class="card-header" id="batchdoc">
                                <span>+</span>
                                        <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                                                data-target="#batchdoc-content" aria-expanded="true"
                                                aria-controls="batchdoc-content" style=" font-size:10.5pt">
                                            Chargendokumentation
                                        </button>
                     
                                </div>
    
    
                                <div id="batchdoc-content" class="collapse" aria-labelledby="batchdoc"
                                     >
                                    <div class="card-body">
                                        <div class="row row-cols-md-1 row-cols-lg-2">
                                            <div>
                                                <label for="medproduct">Medizinprodukt:</label>
                                                <input type="text" id="medproduct"/><%#name="batchdoc[medproducts][]" %>
                                            </div>
                                            <div>
                                                <label for="batchnr">Chargennummer:</label>
                                                <input type="text" id="batchnr"/><%#name="batchdoc[batchnrs][]"%>
                                                <button id="addbatch" type="button" class="btn btn-primary rounded-circle">
                                                    <strong>+</strong></button>
    
                                            </div>
                                        </div>
                                        <table class="table table-striped" id="batchlist">
                                            <thead>
                                            <tr>
                                                <th scope="col">Medizinprodukt</th>
                                                <th scope="col">Chargennummer</th>
                                                <th scope="col">Löschen</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <%@documentation.batch_documentations&.each do |bd|%>
                                            <tr>
                                                <td><input style="border:none ;background-color:rgba(0,0,0,0)" type="text"
                                                           name="batchdoc[medproducts][]" value=<%=bd.medical_product.to_s%>>
                                                </td>
                                                <td><input style="border:none ;background-color:rgba(0,0,0,0)" type="text"
                                                           name="batchdoc[batchnrs][]" value=<%=bd.batch_number%>>
                                                </td>
                                                <td>
                                                    <button type="button" id="deletebatch" class="btn btn-primary btn-sm">
                                                        Löschen
                                                    </button>
                                                </td>
    
                                            </tr>
                                            <%end%>
                                            </tbody>
    
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    
                                    <div class="col-6 ">
                                        <h6 class="mb-0">
                                            <%= "Wundvisite mit Arzt: "%>                                      
                                            <%= check_box_tag("documentation[visit_doctor]")%>
                                            <%="Ja"%>
                                        </h6>
                                    </div>
                                    <div class="col-6">
                                        
                                        <%=collection_select(:documentation,:employee_id,
                                        Employee.where(doctor:"true"),:id,:info,{prompt: true},{ "data-live-search"=> "true",class:
                                        "selectpicker"})%>
                                   
                                </div>
                                </div>
                            </div>
                        </div>
                
    
    
                    <div class="row">
                        <div class="col-xl-6">
                            
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="mb-0">
                                        Fotodokumentation
                                    </h6>
                                </div>
                    
                                <div class="card-body">
                                <span id="EinverständnisvomPatient">
                                <div>
                                    <%= check_box(:documentation, :permission,{checked:@doc_last.nil? ? "false": @doc_last.permission}, "true", "false")%>
                                    <%= label_tag("documentation[permission]","Einverständnis Patient für Fotoaufnahme")%>
                        
                            
                                    <div id="new_images_doc">
                                        <div class="row row-cols-lg-1 row-cols-xl-2">
                                        <div>
                                        <label for="documentation_images_" class="btn btn-outline-primary">
                                            <%=image_tag("upload",size: "23")%> Hochladen
                                        </label>
                                        </div>
                                        <div>
                                        <%= render partial: "wound/all_images" ,locals: {w_id: @wound.id}%>
                                        </div>
                                       </div>
                                       <%= file_field_tag("documentation[images][]",{disabled: true, multiple: true,hidden: "hidden"})%>
                                        <div id="previews">
                                        
                                        </div> 
                                    </div>
                            
                                   
                                </div>
                                </span>
                    
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xl-6">
                            <%= render partial: "/wound/comment_history", locals: {w_id: @wound.id}%>
                        </div>
                    </div>       
                </div>
       
            </div>
    
    
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header" id="wundlokalisation">
                <span>+</span>
                    <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                                                data-target="#wundlokalisation-content" aria-expanded="true"
                                                aria-controls="wundlokalisation-content" style=" font-size:10.5pt">
                                            Wundlokalisation
                                        </button>
                </div>
                <!-- Wundaufnahme-Collapsible-Content starts here-->
                <div id="wundlokalisation-content" class="collapse show" aria-labelledby="wundlokalisation">
                    <div class="card-body">
    
                        <%= render partial: "shared/localization_diagram"%>
                        <%= text_field_tag("Localization",Localization.find_by(wound_id:
                        @wound.id).try(:body_part),hidden: "hidden")%></br>
                        <div class=" row row-cols-sm-2 row-cols-lg-1">
                            <div>
                                <%= label :wound_since, "Wunde seit:" %>
                                <%= date_field_tag("localization[wound_since]", Localization.find_by(wound_id:
                                @wound.id).try(:wound_since),disabled:true)%>
                            </div>
    
                            <div>
                                <%= label :recidivism, "Rezidivzahl:" %>
                                <input id="recidivism" name="localization[recidivism]" type="number" disabled="true"
                                       value=<%= Localization.find_by(wound_id:
                                       @wound.id).try(:recidivism) %> min="0" max="999"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="summary-create-laptop">
                <%= render partial: "/wound/summary", locals: {w_id: @wound.id}%>
            </div>
     
            <div id="verification-laptop">
                <%= render partial: "/wound/verification"%>
            </div>
            <button data-dialog2-target="#dialog2" id="new-reminder" type="button" class="btn btn-info mx-2 my-2">Neue
                Erinnerung
            </button>


            <div class="dialog2" id="dialog2">
                <div class="dialog2-header">
                    <div class="title">Neue Erinnerung erstellen</div>
                    <button id="reminder-close-button" type="button" class="close-button">&times;</button>
                </div>
                <div class="dialog2-body">
                    <%= label_tag(:Erinnerungstext)%><br>
                    <%= text_area(:text, "",{ placeholder: "Text eingeben", id: "reminder_text_field", name:"erinnerung[text]"}) %>
                    <div>
                    <%= datetime_field(:reminder, :publication_date, id: "reminder_publication_date", name:"erinnerung[publication_date]", min: Date.today)%><br>
                    </div>
                    <button id="save-reminder" type="button" class="btn btn-success">Hinzufügen</button>
                </div>
            </div>

            <div hidden>
            <div class="card">
                <div class="card-header" id="reminder">
                  
                    <button type="button" class="btn button-transparent" data-toggle="collapse" data-target="#reminder-content" aria-expanded="true" aria-controls="reminder-content">
                    Verlauf Erinnerung
                    </button>
                 
                </div>
                   
                <div id="reminder-content" class="collapse" aria-labelledby="reminder" >
                    <div class="card-body">
                        <div id="reminder-content"></div>
                        <table id="reminderlist">
                            <tr>
                                <th id="erinnerung">Erinnerung</th>
                                <th>Wann?</th>
                            </tr>
                            <% Reminder.where(documentation_id: @documentation.id)&.each do |b| %>
                            <tr>
                                <td id="erinnerung">
                                    <%== b.text %>
                                </td>
                                <td>
                                    <%= b.publication_date %> </br>
                                </td>
                                <% end %>
                            </tr>
                        </table>
                        </br>
                    </div>
                    </br>
                </div>
             </div>
             </div>





            </div>

            <div class="col-lg-4 col-sm-6">
  <div id="summary-create-ipad-hf">
    <%= render partial: "/wound/summary", locals: {w_id: @wound.id}%>
  </div>
                <div id="verification-ipad-hf">
                  
                    <%= render partial: "/wound/verification"%>
                    </div>
                </div>
    
    <%= submit_tag("Speichern", html_options = {:class=>"btn btn-success mx-2 my-2"})%>
   
    
    </div>
   

    </div>
    <div id="overlay"></div>
    
    <%end%>