<div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="carousel-inner">      
    <%=wd.images.length%>
    <div class="carousel-item active">
    <span id="carousel-images">
        <%wd.images.each_with_index do |a,index|%>
                <%= hidden_field_tag("#{wd.class.to_s.underscore}[images][]",a.identifier)%>
                <%= image_tag "#{a.url}",class:"popup_link thumbnail"%>
                <%if(index.send("+",1)%4== 0)  && (index.send("+",1) < wd.images.length)%>
                    <%== "</span></div><div class='carousel-item'><span id='carousel-images'>"%>
                <%end%>
        <%end%>
    </span>
    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon"  aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



    <div class="modal" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                        <button id="modaldismiss" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div id="modalbody" class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button hidden id="modalundelete" type="button" class="btn btn-success" data-dismiss="modal">Wiederherstellen</button>
                    <button hidden id="modaldelete" type="button" class="btn btn-danger" data-dismiss="modal">Löschen</button>
                    <button id="modalclose" type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>  
