<%= form_with model:@documentation,multipart: true, url: {controller: :wound,action: :update_documentation} do%>
    <% @documentation.inspect%>
    <%= hidden_field_tag("documentation[wound_id]", @documentation.wound_id)%>
    <%= hidden_field_tag("documentation[id]", @documentation.id)%>
    <div class="container-fluid">   
        <div class="row">
            <div class="col-lg-8">
<div id="summary-ipad-hf">

    <%= render partial: "/wound/summary", locals: {w_id: @documentation.wound_id}%>

</div>
                <div id="accordion">
              <div class="card">
                    <div class="card-header" id="wundbeurteilung-1">
                    <span style="font-size:11pt">+</span>
                            <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                                data-target="#wundbeurteilung-1-content" aria-expanded="true"
                                aria-controls="wundbeurteilung-1-content">
                                Wundbeurteilung 1 (Schmerz, Größe, Phasen, Exsudation,...)
                            </button>
                           
                    </div>

                    <div id="wundbeurteilung-1-content" class="collapse show" aria-labelledby="wundbeurteilung-1">
                        <div class="card-body dok">
                            <div class="row">
                                <div class="col-md-3" id="subtitle">
                                    <%="Wundschmerz:"%>
                                </div>
                                <div class="col-md-7">
                                    
                                    <div class="slidecontainer">
                                        <input type="range" min="0" max="10" class="slider" id="myRange" step="1"
                                        name="documentation[pain]" value=<%= Documentation.find_by(id:
                                        @documentation.id).try(:pain) %>>
                                        <span class="valueSpan2"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="Schmerz">Wert:</label>
                                    <%=text_field_tag("Schmerz",Documentation.find_by(id:@documentation.id).try(:pain))%>
                                </div>
                            </div>
                            <div class="row border-bottom mt-1">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <%= label_tag("documentation_bandage_change_true","Immer")%>
                                    <%= radio_button_tag("documentation[bandage_change]",true,checked =
                                    @documentation.bandage_change == true)%>
                                    <%= label_tag("documentation_bandage_change_false","Nur bei Verbandswechsel")%>
                                    <%= radio_button_tag("documentation[bandage_change]",false,checked =
                                    @documentation.bandage_change == false)%>
                                </div>
                            </div>
                        
                            <div class="row border-bottom mt-1">
                                <div class="col-sm-3"  id="subtitle">
                                    <%=label_tag(:documentation,"Wundgröße:")%>
                                </div>
    
                                <div class="col-sm-3">
                                    <label for="width">
                                    Breite:
                                    <input id="width" name="documentation[width]" type="number" step="0.1" min="0"
                                    max="200" value=<%= Documentation.find_by(id:
                                     @documentation.id).try(:width) %> />
                                    cm</label>
                                </div>
    
                                <div class="col-sm-3">
                                    <label for="depth">
                                    Tiefe:
                                    <input id="depth" name="documentation[depth]" type="number" step="0.1" min="0"
                                    max="200" value=<%= Documentation.find_by(id:
                                    @documentation.id).try(:depth) %> />
                                    cm </label>
                                </div>

                                <div class="col-sm-3">
                                    <label for="length">
                                    Länge:
                                    <input id="length" name="documentation[length]" type="number" step="0.1" min="0"
                                    max="200" value=<%= Documentation.find_by(id:
                                    @documentation.id).try(:length) %> />
                                    cm</label>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col-2" id="subtitle">
                                    <%=label_tag(:woundphases,"Wundphase:")%>
                                </div>
                            </div>

                            <div class="row border mt-1">
                                <div class="col-md-4 col-lg-5 col-xl-4" >
                                <span id="subtitle1">
                                    <%=label_tag(:woundphases,"Exsudationsphase")%>
                                </span>
                            </div>
                            <div class="form-col-w1" >
                                    <span id="Exsudationsphase">
                                    <%=collection_check_boxes(:woundphases,:wound_phase_options,WoundPhaseOption.where(wound_phase: "1").order('description ASC'),:id,:description,{checked: @documentation.wound_phase_options.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                        "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>

                            <div class="row border mt-1">
                                <div class="col-md-4 col-lg-5 col-xl-4" >
                                    <span id="subtitle1">
                                        <%=label_tag(:woundphases,"Granulationsphase/ Wundgrund")%>
                                    </span>
                                </div>
                                <div class="form-col-w1" >
                                    <span id="Granulationsphase">
                                    <%=collection_check_boxes(:woundphases,:wound_phase_options,WoundPhaseOption.where(wound_phase: "2").order('description ASC'),:id,:description,{checked: @documentation.wound_phase_options.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                        "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>

                            <div class="row border mt-1">
                                <div class="col-md-4 col-lg-5 col-xl-4" >
                                    <span id="subtitle1">
                                        <%=label_tag(:woundphases,"Epithelisierungsphase")%>
                                    </span>
                                </div>
                                <div class="form-col-w1" >
                                    <span id="Epithelisierungsphase">
                                    <%=collection_check_boxes(:woundphases,:wound_phase_options,WoundPhaseOption.where(wound_phase: "3").order('description ASC'),:id,:description,{checked: @documentation.wound_phase_options.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                        "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>

                            <div class="row border mt-1">
                                <div class="col-md-4 col-lg-4" >
                                    <span id="subtitle1">
                                        <%=label_tag(:woundphases,"Nekrotisch")%>
                                    </span>
                                </div>
                                <div class="form-col-w1" >
                                    <span id="Nekrotisch">
                                    <%=collection_check_boxes(:woundphases,:wound_phase_options,WoundPhaseOption.where(wound_phase: "4").order('description ASC'),:id,:description,{checked: @documentation.wound_phase_options.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                        "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>
                     
                            <!--Wundexsudation-->
                            <div class="row border-bottom border-top mt-1">
                                <div class="col-sm-3 col-lg-4" id="subtitle">
                                    <%=label_tag( "Wundexsudation:")%>
                                </div>
                                <div class="form-col-w1">
                                    <span id="Wundexsudation">
                                    <%=collection_check_boxes(:documentation,:exudation_ids, Exudation.order('description ASC'), :id,
                                    :description, {checked: @documentation.exudations.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                        "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>
                
                            <!--Wundränder-->
                            <div class="row border-bottom mt-1">
                                <div class="col-sm-3 col-lg-4" id="subtitle">
                                    <%=label_tag(:wound_margins, "Wundränder:")%>
                                </div>
                                <div class="form-col-w1">
                                    <span id="Wundränder">
                                    <%=collection_check_boxes(:documentation, :wound_margin_ids, WoundMargin.all, :id, :description, {checked: @documentation.wound_margins.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>    
                                </div>
                            </div>
                                   <!--Wundinfektion-->
                                   <div class="row">
                                    <div class="col-md-2 col-lg-4" id="subtitle">
                                        <%=label_tag( "Wundinfektion:")%>
                                    </div>
                                    
                                        <div class="form-col-infection">
                                            <span id="Wundinfektion">
                                            <%=collection_check_boxes(:infections,:infections_ids, Infection.order('description ASC'), :id,
                                            :description, {checked: @documentation.infections.pluck(:id)}) do |b|%>
                                            <div class="custom-control custom-checkbox">
                                                <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                                "custom-control-label")%>
                                                <%if(Infection.find(b.value).data_type_id == 3)%>
                                                <%=date_field_tag("infections[#{b.value}]",DocumentationsInfection.find_by(documentation_id:
                                                @documentation.id,infection_id:b.value).try(:value)) %>
                                                <%end%>
                                            </div>
                                            <%end%>
                                            </span>
                                        </div>
                                    
                                </div>
                                
                        </div>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card-header" id="wundbeurteilung-2">
                    <span>+</span>
                            <button type="button" class="btn button-transparent  btn-sm" data-toggle="collapse"
                            data-target="#wundbeurteilung-2-content" aria-expanded="true"
                            aria-controls="wundbeurteilung-2-content">
                            Wundbeurteilung 2 (Wundumgebung, Debridement, Wundspülung,...)
                           
                             </button>
                        
                    </div>

                    <div id="wundbeurteilung-2-content" class="collapse" aria-labelledby="wundbeurteilung-2">
                        <div class="card-body dok">
                            <div class="row border-bottom mt-1">

                                <!--Wundumgebung-->
                                <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                    <%=label_tag( "Wundumgebung:")%>
                                </div>
                                <div class="form-col-w2">
                                    <span id="Wundumgebung">
                                    <%=collection_check_boxes(:documentation,:surrounding_ids, Surrounding.order('description ASC'), :id,
                                    :description, {checked: @documentation.surroundings.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                        "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>
                      
                            <!--Debridement-->
                            <div class="row border-bottom mt-1">
                                <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                    <%=label_tag(:debridements, "Debridement:")%>
                                </div>
                                <div class="form-col-w2">
                                    <span id="Debridement">
                                    <%=collection_check_boxes(:documentation,:debridement_ids, Debridement.order('description ASC'), :id,
                                    :description, {checked: @documentation.debridements.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                        "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>
           
                            <!--Wundspülung/-reinigung-->
                            <div class="row border-bottom mt-1">
                                <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                    <%=label_tag(:cleansings, "Wundspülung/-reinigung:")%>
                                </div>
                                <div class="form-col-w2">
                                    <span id="Wundspülung">
                                    <%=collection_check_boxes(:documentation, :cleansing_ids, Cleansing.order('description ASC'), :id, :description, {checked:
                                   @documentation.cleansings.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>
 
                            <!--Hautzustand-->
                            <div class="row border-bottom mt-1">
                                <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                    <%=label_tag(:skin_conditions, "Hautzustand:")%>
                                </div>
                                <div class="form-col-w2">
                                    <span id="Hautzustand">
                                    <%=collection_check_boxes(:documentation, :skin_condition_ids,
                                    SkinCondition.order('description ASC'), :id, :description, {checked:
                                    @documentation.skin_conditions.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                        "custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>

                            <!--Hautpflege-->
                            <div class="row border-bottom mt-1">
                                <div class="col-sm-3 col-lg-4 col-xl-3" id="subtitle">
                                    <%=label_tag(:skin_care, "Hautpflege:")%>
                                </div>
                                <div class="form-col-w2">
                                    <span id="Hautpflege">
                                    <%=collection_check_boxes(:documentation, :skin_care_ids,
                                    SkinCare.all, :id, :description, {checked:
                                    @documentation.skin_cares.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:
                                            "custom-control-label")%>
                                            <%if(SkinCare.find(b.value).data_types_id == 3)%>
                                            <%=date_field_tag("skin_care[#{b.value}]",DocumentationsSkinCare.find_by(documentation_id:
                                            @documentation.id,skin_care_id:b.value).try(:value)) %>
                                            <%end%>
                                    </div>
                                    <%end%>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Wundauflage-->
                <div class="card">
                    <div class="card-header" id="wundauflage">
                    <span>+</span>
                            <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                                    data-target="#wundauflage-content" aria-expanded="true"
                                    aria-controls="wundauflage-content">
                                      Wundauflage    
                            </button>
                    </div>

                    <div id="wundauflage-content" class="collapse" aria-labelledby="wundauflage">
                        <div class="card-body dok">
                            <div class="row row-cols-md-2">
                                <!--   -->
                                
                                    <span id="Wundauflage">
                                        <%=collection_check_boxes(:documentation,:dressing_ids, Dressing.all, :id,
                                            :description, {checked: @documentation.dressings.pluck(:id)}) do |b|%>
                                    <div class="custom-control custom-checkbox">
                                        <%= b.check_box(class: "custom-control-input" )%><%=b.label(class:"custom-control-label")%>
                                    </div>
                                    <%end%>
                                    </span>
                                
                            </div>
                        </div>
                    </div>
                </div>
            

                <div class="card">
                    <div class="card-header" id="batchdoc">
                    <span>+</span>
                            <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                            data-target="#batchdoc-content" aria-expanded="true"
                            aria-controls="batchdoc-content">
                             Chargendokumentation</summary>
                           
                            </button>
                    </div>
                    <div id="batchdoc-content" class="collapse" aria-labelledby="batchdoc">
                        <div class="card-body dok">
                            <div class="row row-cols-md-1 row-cols-lg-2">
                                <div>
                                    <label for="medproduct">Medizinprodukt:</label>
                                    <input type="text" id="medproduct"/><%#name="batchdoc[medproducts][]" %>
                                </div>
                                <div>
                                    <label for="batchnr">Chargennummer:</label>
                                    <input type="text" id="batchnr"/><%#name="batchdoc[batchnrs][]"%>
                                    <button id="addbatch" type="button" class="btn btn-primary rounded-circle">
                                    <strong>+</strong></button>
                                </div>
                            </div>
                            <table class="table table-striped" id="batchlist">
                                <thead>
                                    <tr>
                                        <th scope="col">Medizinprodukt</th>
                                        <th scope="col">Chargennummer</th>
                                        <th scope="col">Löschen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%@documentation.batch_documentations.each do |bd|%>
                                        <tr>
                                            <td><input style="border:none ;background-color:rgba(0,0,0,0)" type="text"
                                                       name="batchdoc[medproducts][]" value=<%=bd.medical_product.to_s%>>
                                            </td>
                                            <td><input style="border:none ;background-color:rgba(0,0,0,0)" type="text"
                                                       name="batchdoc[batchnrs][]" value=<%=bd.batch_number%>>
                                            </td>
                                            <td>
                                                <button type="button" id="deletebatch" class="btn btn-primary btn-sm">
                                                    Löschen
                                                </button>
                                            </td>
                                        </tr>
                                        <%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>    
                
            </div>  

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="mb-0">
                            <%="Wundvisite mit Arzt: "%>
                            <%= check_box(:documentation, :visit_doctor, {checked: @documentation.visit_doctor}, "true","false")%>
                            <%="Ja"%>
                            </h6>
                        </div>
                        <div class="col-6">
                            <%=collection_select(:documentation, :employee_id , Employee.where(doctor:"true"),:id,:info,{prompt:true,selected: @documentation.employee_id}, { "data-live-search"=> "true",class: "selectpicker"})%>  
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
            <div class="card">
                <div class="card-header" >
                    <h6 class="mb-0">
                        Fotodokumentation
                    </h6>
                </div>

                <div class="card-body">
                    <%= check_box(:documentation, :permission,{checked:@documentation.permission}, "true",
                    "false")%>
                    <%= label_tag("documentation[permission]","Einverständnis Patient für Fotoaufnahme")%>
                    <div id="new_images_doc">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="documentation_images_" class="btn btn-outline-primary ">
                                    <%=image_tag("upload",size: "23")%> Hochladen
                                </label>
                            </div>
                            <div class="col-lg-8">
                                <%= render partial: "wound/all_images" ,locals: {w_id: @documentation.wound_id}%>
                            </div>
                        </div>
                        <div id="previews">
                            <%= file_field_tag("documentation[images][]",{multiple: true,hidden: "hidden"})%>
                        </div>
                    </div>
                    <div id="already_available_images">
                        <%= render partial: "/wound/images", locals: {wd: @documentation}%>
                    </div>
                </div>
            </div>
        </div>
   
                <div class="col-xl-6">
                <%= render partial: "/wound/comment_history", locals: {w_id: @documentation.wound_id}%>
                </div>
                
            </div> 
          
        </div>
    </div>
           
            <div class="col-lg-4 col-sm-6">
              
                <div class="card">
                    <div class="card-header" id="wundlokalisation">
                    <span>+</span>
                        <button type="button" class="btn button-transparent btn-sm" data-toggle="collapse"
                        data-target="#wundlokalisation-content" aria-expanded="true"
                        aria-controls="wundlokalisation-content" style=" font-size:10.5pt">
                          Wundlokalisation
                   
                </button>
                    </div>
                    <!-- Wundaufnahme-Collapsible-Content starts here-->
                    <div id="wundlokalisation-content" class="collapse show" aria-labelledby="wundlokalisation">
                        <div class="card-body">
                            <%= render partial: "shared/localization_diagram"%>
                            <%= text_field_tag("Localization",Localization.find_by(wound_id:
                            @documentation.wound_id).try(:body_part),hidden: "hidden", readonly: "readonly")%></br>
                            <div class=" row row-cols-sm-2 row-cols-lg-1">
                                <div>
                                    <%= label :wound_since, "Wunde seit:" %>
                                    <%= date_field_tag("localization[wound_since]", Localization.find_by(wound_id:
                                    @documentation.wound_id).try(:wound_since),disabled:true)%>
                                </div>
    
                                <div>
                                    <%= label :recidivism, "Rezidivzahl:" %>
                                    <input id="recidivism" name="localization[recidivism]" type="number" disabled="true"
                                           value=<%= Localization.find_by(wound_id:
                                           @documentation.wound_id).try(:recidivism) %> min="0" max="999"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="summary-laptop">
                <%= render partial: "/wound/summary", locals: {w_id: @documentation.wound_id}%>
                </div>
                <div id="verification-laptop">
                <%= render partial: "/wound/verification"%>
            </div>
            <button data-dialog2-target="#dialog2" id="new-reminder" type="button" class="btn btn-info mx-2 my-2">Neue
                Erinnerung
            </button>
            
            
            
            <div class="dialog2" id="dialog2">
                <div class="dialog2-header">
                    <div class="title">Neue Erinnerung erstellen</div>
                    <button id="reminder-close-button" type="button" class="close-button">&times;</button>
                </div>
                <div class="dialog2-body">
                    <%= label_tag(:Erinnerungstext)%><br>
                    <%= text_area(:text, "",{ placeholder: "Text eingeben", id: "reminder_text_field", name:
                    "erinnerung[text]"}) %>
                    <div>
                    <%= datetime_field(:reminder, :publication_date, id: "reminder_publication_date", name:
                    "erinnerung[publication_date]", min: Date.today)%><br>
                    </div>
                    <button id="save-reminder" type="button" class="btn btn-success">Hinzufügen</button>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-sm-6">
            <div id="verification-ipad-hf">
                <%= render partial: "/wound/verification"%>
                </div>
            
            </div>
        </div>
   <!-- Only to save the reminder that was created and to send it to the database when the form is submitted-->
                <div hidden>
                <div class="card">
                    <div class="card-header" id="reminder">
                        <h5 class="mb-0">
                            <button type="button" class="btn button-transparent" data-toggle="collapse" data-target="#reminder-content" aria-expanded="true" aria-controls="reminder-content">
                            Verlauf Erinnerung
                            </button>
                        </h5>
                    </div>
                   
                    <div id="reminder-content" class="collapse" aria-labelledby="reminder" >
                        <div class="card-body">
                            <div id="reminder-content"></div>
                            <table id="reminderlist">
                                <tr>
                                    <th id="erinnerung">Erinnerung</th>
                                     <th>Wann?</th>
                                </tr>
                    
                                <% Reminder.where(documentation_id: @documentation.id)&.each do |b| %>
                                <tr>
                                    <td id="erinnerung">
                                        <%== b.text %>
                                    </td>
                                    <td>
                                        <%= b.publication_date %> </br>
                                    </td>
                                    <% end %>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
           
                <%= submit_tag("Speichern", html_options = {:class=>"btn btn-success mx-2 my-2"})%>
            
        </div>
    </div>    
    </div>
  
    
</div> 
</div>  
            </br>
            <div id="overlay"></div>
          
            <%end%>
      