
<div class="card">
        <div class="card-header" id="summary" style=" font-size:10.5pt; font-weight:none">
            <p class="mb-0">
              Zusammenfassung
            </p>
        </div>

         <div class="card-body">
         <div id="scroller-verlauf">
            <table id="summary_table">
           
            
            <tr id="title_summary" >
                <th>
                    Kategorie
                </th>
                <th id="zusammenfassung"> 
                    Ausgewählt
                </th>
            </tr>
          


            <tr id="cave_summary">
            <% cave= Cave.find_by(patient_id: Wound.find(w_id).patient_id)%>
                <td>Cave </td>
                <td id="zusammenfassung">
                <%= cave.allergy%>|
                <%= cave.resistant_germs%>|
                <%= cave.other%>
                </td>
            </tr>

            <tr id="wundart_summary">
                <td>Wundart</td>
                <td id="zusammenfassung"><%=WoundType.find(Wound.find(w_id).wound_type_id).type_name%></td>
            </tr>

            <tr>
                <td >Exsudationsphase</td>
                <td id="zusammenfassung" ></td>
            </tr>

            <tr>
                <td>Granulationsphase</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td>Epithelisierungsphase</td>
                <td></td>
            </tr>
            <tr>
                <td >Nekrotisch</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td>Wundexsudation</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td>Wundinfektion</td>
                <td></td>
            </tr>
            <tr>
                <td >Wundränder</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td >Wundumgebung</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td >Debridement</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td>Wundspülung</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td>Hautzustand</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td>Hautpflege</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td id="Wundauflage">Wundauflage</td>
                <td id="zusammenfassung"></td>
            </tr>
            <!--<tr>
                <td>EinverständnisvomPatient</td>
                <td id="zusammenfassung"></td>
            </tr>
            -->
            <tr>
                <td>Chargendokumentation</td>
                <td id="zusammenfassung"></td>
            </tr>
            <tr>
                <td>Wundgröße</td>
                <td id="zusammenfassung">Breite:<span id="tdbreite"></span>Tiefe:<span id="tdtiefe"></span>Länge:<span id="tdlänge"></span></td>
            </tr>
            <tr>
                <td>Wundschmerz</td>
                <td id="zusammenfassung">Skala:<span id="skala"></span>|<span id="radiopain"></span></td>
            </tr>
            </table>
            </div>
            
        </div>
</div>

