<div class="card" id = "verificationcard">
        <div class="card-header" id="verification">
            <h6 class="mb-0">
               Nachweise
            </h6>
        </div>

         <div class="card-body" id = "verificationbody">
         <div id="scroller-verlauf">
        <table id="verifications" >
        <tr>
            <th>Uhrzeit</th>
            <th>Feld</th>
            <th>Mitarbeiter</th>
        </tr>
        <% @documentation.verifications&.order("created_at DESC").each do |v|%>
            <tr>
                <td id="nachweis">
                    <%=v.created_at.strftime("%d.%m.%Y %H:%M")%>
                </td>
                <td id="nachweis">
                    <%=v.field%>
                </td>
                <td id="nachweis">
                    <%=Employee.find(v.employee_id).info%>
                </td>
            </tr>
        <%end%>
        
        </table>
        </div> 
     
        </div>
</div>

