<%@wound.inspect%>
<ul class="nav nav-tabs md-tabs" id="myDocMD" role="tablist">
  
  <li class="nav-item">
  <%= link_to "Wundaufnahme", {controller: :wound , action: :show_examination, :wound => @wound},{remote: true, class: "btn btn-sm btn-outline-primary" }%>
  </li>
  <li class="nav-item">
  <%Documentation.where(wound_id: @wound.id).each do |doc|%> 
    <%= link_to "#{doc.created_at.time.to_date.strftime("%d.%m.%Y")}", {controller: :wound , action: :show_documentation, :documentation => doc},{remote: true, class: "btn btn-sm btn-outline-primary" }%>
  <%end%>  
  </li>
  <li>
    <%= link_to "Neues Datum", {controller: :wound , action: :show_create_documentation, :wound =>@wound},{remote: true, class: "btn btn-sm btn-outline-primary" }%>
  </li>
  </ul>
  
<%if Documentation.where(wound_id: @wound.id).empty?%>

<%end%>
  <div id="wounddoc-content">

  </div>