<%@wounds = Wound.where(patient_id: session[:patient_id])%>

<ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist"> 
  <%@wounds.each do |w|%> 
  <li class="nav-item">
    <% if w::designation !="" %>
    <%= link_to "#{w.designation}", {controller: :wound , action: :show_wounddoc_tab, :wound => w},{remote: true, class: "btn btn-sm btn-outline-primary " }%>

    <% else %>
    <%= link_to "#{w.wound_type.type_name}", {controller: :wound , action: :show_wounddoc_tab, :wound => w},{remote: true, class: "btn btn-sm btn-outline-primary" } %>
    <% end %>
  </li>
  <%end%>

  <li class="nav-item">
<%= link_to "Wunde anlegen", {controller: :wound , action: :create_examination},{remote: true, class: "btn btn-sm btn-outline-primary" }%>
  </li>
  <li class="nav-item">
    <button id="open_reminder_modal" type="button" class="btn btn-sm btn-outline-primary notification" data-toggle="modal" data-target="#reminder_modal_popup">
      <%=image_tag("bell",size: "17")%> Erinnerung <span id="reminder_notification_number" class="badge"></span>
  </button>
      </li>
</ul>

  <div id="wound-content">
    <%if @wounds.empty?%>
      <%= render partial:"/wound/wound_examination"%>
    <%end%>
  </div>