<%=form_with model:@wound, multipart: true, url: {controller: :wound, action: :create_wound} do |f| %>
<div class="container-fluid"> 
  
        <div class ="row">
            <div class ="col-sm-7 col-lg-8">
            <%#= @wound.inspect%>
            <!-- hidden field saves the patient that will come from the start page or "topas"-->
            <%=hidden_field_tag("wound[patient_id]",session[:patient_id])%>
            <div id="accordion">
                <!-- Wundaufnahme-Collapsible starts here -->
                <div class="card">
                    <div class="card-header" id="wundaufnahme">
                    <span>+</span>
                            <button type="button" class="btn btn-sm button-transparent" data-toggle="collapse" data-target="#wundaufnahme-content" aria-expanded="true" aria-controls="wundaufnahme-content" style="color: black">
                            Wundaufnahme
                            </button>
                    </div>
                    <!-- Wundaufnahme-Collapsible-Content starts here-->
                    <div id="wundaufnahme-content" class="collapse show" aria-labelledby="wundaufnahme" >
                        <div class="card-body">
                            <div class="row row-cols-md-1 row-cols-lg-2">
                            <div>           
                             <%=collection_select(:wound,:wound_type_id,WoundType.order('type_name ASC'),:id,:type_name,{:prompt => "Bitte wählen Sie eine Wundart"},{required: true,"data-live-search"=> "true", "data-live-search-placeholder"=> "Wundart suchen", "data-live-search-style"=> 'startsWith', "data-width"=>"fit",  "data-size"=>"8", class: "selectpicker"})%>     
                            </div> 
                            <div>           
                             <%= text_field(:wound, :designation, {"placeholder"=> "Bezeichnung eingeben"})%>    
                            </div>  
                            </div>          
                        </div>
                    </div>
                </div>
                <!-- Wundaufnahme-Collapsible ends here-->
            </div> 
        
     <!-- Wundheilung beeinflussende Faktoren-->
     <div class="card">
        <div class="card-header" id="wundheilung-faktoren">
        <span>+</span>
                <button TYPE="button" class="btn btn-sm button-transparent" data-toggle="collapse" data-target="#faktoren-content" aria-expanded="true" aria-controls="faktoren-content">
                Wundheilung beeinflussende Faktoren
                </button>
        </div>
        <div id="faktoren-content" class="collapse" aria-labelledby="wundaufnahme" >
            <div class="card-body">
                <div class="form-col-3">
                    <%=collection_check_boxes(:woundfactors,:factors,Factor.order('factor_name ASC'),:id,:factor_name) do |b|%>
                  
                    <div class="custom-control custom-checkbox">
                            
                            <%= b.check_box(class: "custom-control-input" )%><%=b.label(class: "custom-control-label")%>
                            
                            <!-- Checks if the checkbox type is String etc.-->
                            <%if(Factor.find(b.value).data_type_id == 1)%>
                            <!-- creates an input field that refers to the specific checkbox-->
                                <%=text_field_tag("woundfactors[#{b.value}]",nil ,disabled:true)%>
                            <%elsif (Factor.find(b.value).data_type_id == 3) %>
                                <%=date_field_tag("woundfactors[#{b.value}]")%>
                            <%end%>
                            </br>
                       
                        </div>
                    <%end%>
                </div> 
            </div>   
          
        </div>
    
        </div>
    </div>

          
            <div class="col-sm-5 col-lg-4">  
                <div class="card">
                    <div class="card-header" id="wundlokalisation">
                        <h6 class="mb-0">
                            Wundlokalisation
                        </h6>
                    </div>
                <!-- Wundaufnahme-Collapsible-Content starts here-->
                    <div id="wundlokalisation-content" class="collapse show" aria-labelledby="wundlokalisation" >
                        <div class="card-body">
                           
                            <%= render partial: "/shared/localization_diagram"%></br>
                            <%= text_field_tag("Localization","",{hidden: "hidden", required: true})%>
                            <div class="row row-cols-md-2">
                             <div>
                                <%= f.label :wound_since, "Wunde seit:" %>
                                <%= date_field_tag("localization[wound_since]", " ",{max: Date.today, value: Date.today})%>
                             </div>
                                        
                
                            <div> 
                                 <%= f.label :recidivism, "Rezidivzahl:" %>
                                <input id="recidivism" name="localization[recidivism]" type="number" value="0" min="0" max="999"/>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>   
            
             </div> 
            </div>  
             
             <div class="row mt-2">
                <div class="col-md-12 col-lg-6">

                    <%= render partial: "/wound/cave" %>
                
            </div>
            
                        <div class="col-md-12 col-lg-6">
                           
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="mb-0">
                                        Fotodokumentation
                                    </h6>
                                </div>
                    
                                <div class="card-body">
                            <div>
                                <%= check_box_tag("wound[permission]") %>
                                <%= "Einverständnis Patient zur Fotoaufnahme" %>
                            </div>
                            <div id="new_images_wound">
                                <label for="wound_images_" class="btn btn-outline-primary mx-2 my-2">
                                    <%=image_tag("upload",size: "50")%> Hochladen
                                </label>
                                <%= file_field_tag("wound[images][]",{ disabled:true, multiple: true, hidden: "hidden"})%>
                                <div id="previews">
                                </div>
                            </div>
                                    </div>  
                                  
                                </div> 
                        
                
                            </div>
                        
                      
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="mb-0">
                                      Bemerkung
                                    </h6>
                                </div>
                                <div class="card-body">
                    <%= render partial:"/wound/comment"%>    
                    <%= render partial: "/wound/comment_template" %>  
                        </div>
                    </div>
                    </div> 
                    </div>  
                
    <div class="row">
<div class = "col-sm-10">

</div>
<div class= "col-sm-2">
    <%= submit_tag("Speichern", html_options = {:class=>"btn btn-success mx-2 my-2"})%>
</div>
    </div>
</div> 
<div id="overlay"></div>  
<%end%>