<%="Patient: " + @patient.info + "  ||  "%>
<%="Mitarbeiter: " + @employee.info%></br>
<%= render partial: "reminders/reminder_popup"%>
<span id="wound-tabs">
    <%= render partial: "/wound/wound_tabs"%>
</span>