document.getElementById("wounddoc-content").innerHTML ="<%= j (render partial: "/wound/create_documentation")%>"
$("path[value=\"" + $("#Localization").val() + "\"]").addClass("path-cl-selected")
$("#infections_1").prop("disabled", !($("#infections_infections_ids_1").prop("checked")))
$("input[type='file']").prop("disabled", !($("#documentation_permission").prop("checked")))
if ($("#verifications td").length ==0){
    $("#verificationbody").css("height","55px")
    $("#verificationbody").css("overflow","hidden")
}
$(".selectpicker").selectpicker()
