document.getElementById("wounddoc-content").innerHTML="<%=j (render partial: "/wound/show_documentation")%>"
$("path[value=\"" + $("#Localization").val() + "\"]").addClass("path-cl-selected")
$("#infections_1").prop("disabled", !($("#infections_infections_ids_1").prop("checked")))
$("input[type='file']").prop("disabled", !($("#documentation_permission").prop("checked")))
$(".selectpicker").selectpicker()
$("#Wundexsudation,#Wundinfektion,#Wundränder,#Wundumgebung,#Debridement,#Wundspülung,#Hautzustand,#Hautpflege,span[id='Wundauflage']").each(function(){
   $(this).children().children().get(0).click()
   $(this).children().children().get(0).click()
})
$("#Exsudationsphase,#Granulationsphase,#Epithelisierungsphase,#Nekrotisch").each(function(){
    $(this).children().children().get(0).click()
    $(this).children().children().get(0).click()
})
$("#myRange").change()
$("#width").change()
$("#batchlist").change()
