document.getElementById("wounddoc-content").innerHTML="<%=j (render partial: "/wound/show_examination")%>"
$("path[value=\"" + $("#Localization").val() + "\"]").addClass("path-cl-selected")
$("#woundfactors_13").prop("disabled", !($("#woundfactors_factors_13").prop("checked")))
$("input[type='file']").prop("disabled", !($("#wound_permission").prop("checked")))
$(".selectpicker").selectpicker()