<h3>Patient und Mitarbeiter auswählen</h3>

<%= form_with(url: "/wound",local:true,method: "get") do %>
    <%=label_tag(:Patient, "Patient")%>
    <%=collection_select(:Patient, :id , Patient.all,:id,:info,{include_blank: true},required: true)%>
    </br>
    </div>
    <%=label_tag(:Employee, "Mitarbeiter")%>
    <%=collection_select(:Employee, :id , Employee.all,:id,:info,{include_blank: true},required: true)%>
    </br>
    <%=submit_tag("Get to scarDok")%>    
            
 <%end%>