#show_all_images_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  #modal-all-images {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  

  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
#carousel-indicators-all-images{
    bottom: 0%;
    position: fixed;
}
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    #modal-all-images {
      width: 100%;
    }
  }
#carousel-indicators-all-images li img {
    display: none;
    position: absolute;
    bottom:8px;
}
#carousel-indicators-all-images li:hover img {
    display: block;
    
}
.new-thumb{
    width: 300px;
    height: 300px;
}
#show_all_images_modal .carousel-control-next-icon,#show_all_images_modal .carousel-control-prev-icon{
    background-color: #288f9c !important;
}
