th{
    background-color: whitesmoke;
    
    border-top:1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

tr, td, th{
    padding:5px;
    margin:1px;
}

tr{
    border-bottom: 1px solid lightgray;
    max-height:6cm;
}


#scroller-verlauf{
    height:6cm;
    overflow-y:scroll;
    
}

#save-comment{
    margin-left:17.5cm;
}




