.path-cl {
    fill: #FFF;
    opacity: 0;
    transition: 1s;
}
.path-cl:hover {
    fill: red;
    opacity: .5;
}

#dia {
    width: 100%;
    height: auto;
}

.path-cl-selected {
    fill:red;
    opacity: .5;
}
