#width{
    width: 60px;
    padding-left: 0.2cm;
    padding-right: 0.2cm; 
  }

  #depth{
    width: 60px;
    padding-left: 0.2cm;
    padding-right: 0.2cm; 
  }
  #length{
    width: 60px;
    padding-left: 0.2cm;
    padding-right: 0.2cm; 
  }

  #subtitle{
    font-weight: 500;
   
  }
  #documentation_visit_doctor {
    margin-left: 0.5cm;
  }
  .card-body.dok {
    max-height: 15cm;
    overflow-y: scroll;
      
    scrollbar-width: thin;
  }

  @media  screen and (min-width: 1800px) and (max-width: 1900px) {
    
   
    #Wundexsudation{
      column-width: 3cm;
    }
    #new-comment{
 
      top: 50%; bottom: 50%;
      margin-right: 0.2cm;
      margin-left:-80%;
      margin-bottom:-50%;
      transform: translate(-0.2cm, -0.2cm);
      
      background-color:rgb(20, 216, 241);
    }
}



@media  screen and (min-width: 1900px) and (max-width: 2550px) {
  /* insert styles here */
  #subtitle{
    column-width: 10cm;
}
#new-comment{
 
  top: 50%; bottom: 50%;
  margin-right: 0.2cm;
  margin-left:-80%;
  margin-bottom:-50%;
  transform: translate(-0.2cm, -0.2cm);
  
  background-color: whitesmoke;
  color: black;
  border-color:lightgray;
  font-weight: 600;
}
}



/*ipad mini Hochformat*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  { 

#subtitle{
    column-width: 4cm;
    width:4cm;
}
#subtitle1{
  column-width: 5cm;
  max-width:5cm;
}

#new-comment{
 
  top: 50%; bottom: 50%;
  margin-right: 0.2cm;
  margin-left:-80%;
  margin-bottom:-50%;
  transform: translate(-0.2cm, -0.2cm);
  
  background-color: whitesmoke;
  color: black;
  border-color:lightgray;
  font-weight: 600;
}

}


/*ipad mini Querformat*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 



}


   /* like Bootstrap small -sm */
   @media only screen and (min-width: 576px) and (max-width : 991px) {
    .form-col-w1 {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2; 
      column-width: 6cm; 
    }
    .form-col-infection {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2; 
     
    }
  
    .form-col-w2 {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3; 
      column-width: 4cm; 
    }
    #summary-laptop {
      display: none; 
    }
    #verification-laptop {
      display: none; 
    }
    #summary-create-laptop {
      display: none; 
    }
  }
    /* like Bootstrap large -lg */
    @media only screen and (min-width: 992px) and (max-width : 1199px){
  .form-col-w1 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2; 
    column-width: 5cm; 
  }
  .form-col-infection {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }

  .form-col-w2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2; 
    column-width: 5cm;
  }
  #summary-laptop {
    display: none; 
  }
  #verification-ipad-hf{
    display: none; 
  }
  #summary-create-ipad-hf {
    display: none; 
  }
  }

     /* like Bootstrap x-large -xl */
@media (min-width: 1200px) {
  .form-col-w1 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; 
    column-width: 6cm; 
  }
  .form-col-infection {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2; 
    column-width: 6cm;
  }

  .form-col-w2 {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4; 
    column-width: 4cm;
  }
  #summary-ipad-hf {
    display: none; 
  }
  #verification-ipad-hf {
    display: none; 
  }
  #summary-create-ipad-hf {
    display: none; 
  }
}