.image-deleted {
    filter:sepia(100%) contrast(50%) saturate(500%) hue-rotate(423deg);
}
.thumbnail{
    width: 85px;
    height: 85px;
}
#modal_body_img{
    width:100%;   
    height: 600px;
}
.modal {
    height: 50%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  .modal-body {
      height: 600px;
      overflow-y: scroll;
  }
  .popup_link:hover {
        transform: scale(1.1);
  }
#carousel-images {
    margin-left: 50px;
    margin-right: 20px;
    width: 100%;
  }
#carouselExampleControls {
  border:solid gray;
  height: 100px;
}
#already_available_images{
    height:100px;
}
#carouselExampleControls .carousel-control-prev, #carouselExampleControls .carousel-control-next {
    width: 40px;
    background-color: #d9f1fc !important;
    opacity: 0.8 !important;
    z-index: 0 !important;
}
#carouselExampleControls .carousel-control-next-icon, #carouselExampleControls .carousel-control-prev-icon {
    background-color:#288f9c !important;
    z-index: 0 !important;
}