.notification {
    position: relative;
    border-radius: 2px;
  }


.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
 
.notification .badgegrey {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: lightgrey;
  color: black;
}
.justitext{
  display: none;
  color:black
}
.notification:hover ~.justitext {
  display:block;
}

#reminder_text_field{
  width:10cm;
  height:3cm;

}

#dialog2{
  width: 12cm;
  height:10cm;
}


#reminder_publication_date{
margin-top:0.5cm;
}

#save-reminder{
  margin-left: 8.5cm;
    margin-bottom: -1cm;
}

#reminder_PBDATE {
  width: 5cm;
}
#justification_text {
  margin-top: 0.3cm;
  width: 8cm;
  
}
#postpone_reminder_save {
  margin-bottom: 0.7cm;
}