.dialog2 {
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 100ms ease-in-out ;
    border: 1px solid #000f1b;
    border-radius: 8px;
    z-index: 10;
    width: 800px;
    max-width: 80%;
    }
  
    .dialog2.active {
      transform: translate(-50%, -50%) scale(1);
    }
  
    .dialog2-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      margin-bottom: .5cm;
      padding: 10px 15px;
    }
  
    .dialog2-header .title {
      font-size: 25px;
      font-weight: bold;
    }
  
    .dialog2-header .close-button{
      cursor: pointer;
      background-color: white;
      outline: none;
      background: none;
      border: 0.5px solid white;
      color: black;
      font-size: 2rem;
      font-weight: bold;
    }
   
    .dialog2-body {
      padding: 10px 15px;
      
    }
  
    #overlay {
      position: fixed;
      transition: 100ms ease-in-out ;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
      pointer-events: none;
      opacity: 0;
    }
  
    #overlay.active{
      opacity:1;
      pointer-events: all;
    }
