#button-template {
    background-color: white;
    border: 0.5px solid rgb(182, 180, 180);
    border-radius: 3px;
    color: rgb(83, 81, 81);
    font-weight: 600;
    border-bottom: 1px solid rgb(100, 100, 100) ;
       
}


.auswahl{
  border: solid 1px rgba(216, 210, 210, 0.884);
  padding: 5px;
  font-size: medium;
  
}

.auswahl:hover {
  background-color: rgba(216, 210, 210, 0.884);
  
}
.auswahl-selected {
  background-color: rgba(216, 210, 210, 0.884);
}

#save-template{
  margin-top: .3cm;
  margin-bottom: .3cm;
  margin-left:75%;
}

.template {
  position: fixed;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  width: 600px;
  max-width: 80%;
    }
  
    .template.active {
      transform: translate(-50%, -50%) scale(1);
    }
  
    .template-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(114, 114, 114);
      margin-bottom: .5cm;
      padding: 5px 10px;
      background-color: #d9f1fc;
    }
  
    .template-header .template-title {
      font-size: 25px;
      color: black;
    }
  
    .template-header .close-button-template{
      cursor: pointer;
      background-color: white;
      outline: none;
      background: none;
      border: 0.5px solid white;
      color: black;
      font-size: 2rem;
      font-weight: bold;
    }
   
    .template-body {
      padding: 10px 15px;
      font-size: 19px;
      
    }
  
    #overlay {
      position: fixed;
      transition: 100ms ease-in-out ;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(red, green, blue, 0.5);
      pointer-events: none;
      opacity: 0;
    }
  
    #overlay.active{
      opacity:1;
      pointer-events: all;
    }

    .scroller {
      width: 600px;
      height: 300px;
      overflow-y: scroll;
      
      scrollbar-width: thin;
    }

    .template-footer{
      border-top: 1px solid rgb(114, 114, 114);
    }

    #hover_content {
      background-color:none;
      padding: 20px;
      display: none;
    }
      
    #hover_name:hover  #hover_content   {
      display: block;
    }
    
