// Place all the styles related to the wound controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card{
  margin-bottom: 4px;
}
.card-header {
  background-color: #d9f1fc;
  height: 1.6cm;
}
.row.border-bottom {
  margin-top: 4px;
  margin-bottom: 6px;
}
.dialog {
  position: fixed;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out ;
  border: 1px solid #000f1b;
  border-radius: 8px;
  z-index: 10;
  width: 800px;
  max-width: 80%;
  }

  .dialog.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: .5cm;
    padding: 10px 15px;
  }

  .dialog-header .title {
    font-size: 25px;
    font-weight: bold;
  }

  .dialog-header .close-button{
    cursor: pointer;
    background-color: white;
    outline: none;
    background: none;
    border: 0.5px solid white;
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
 
  .dialog-body {
    padding: 10px 15px;
    
  }

  #overlay {
    position: fixed;
    transition: 100ms ease-in-out ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    pointer-events: none;
    opacity: 0;
  }

  #overlay.active{
    opacity:1;
    pointer-events: all;
  }
  .btn.btn-success.mx-2.my-2{
    position: fixed;
    bottom: 0px;
    right: 0;
  }
  #required_loc_fail{
    position: fixed;
    bottom: 0;
    right: 4cm;
  }
  h6 {
    font-size: 10.5pt;
    font-weight: normal;
    margin-left: 12px;
    margin-top: 10px;
  }
  /* like Bootstrap small -sm and medium -md*/
@media only screen and (min-width: 576px) and (max-width : 991px) { 
  .form-col-3 {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    height: 15rem;
    overflow-y: scroll; 
  }
  
  #wound_designation {
    width: max-content;
    height: auto;
  }

  #cave_allergy {
    width: 16.7cm;
    height: 30px; 
  }
  #cave_resistant_germs {
    width: 14.5cm;
    height: 30px; 
  }
  #cave_other {
    width: 16.4cm;
    height: 30px; 
  }

}

   /* like Bootstrap large -lg */
@media only screen and (min-width: 992px) and (max-width : 1199px) { 
  .form-col-3 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  
  #wound_designation {
    width: max-content;
    height: auto;
  }
  
  #cave_allergy {
    width: 10.2cm;
    height: 30px; 
  }
  #cave_resistant_germs {
    width: 8.5cm;
    height: 30px; 
  }
  #cave_other {
    width: 10cm;
    height: 30px; 
  }

}

   /* like Bootstrap x-large -xl */
@media (min-width: 1200px) {
  .form-col-3 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; 
  }
  #wound_designation {
    width: 15rem;
    height: 100%;
  }
  
  #cave_allergy {
    width: 6cm;
    height: 70px; 
  }
  #cave_resistant_germs {
    width: 6cm;
    height: 70px; 
  }
  #cave_other {
    width: 6cm;
    height: 70px; 
  }
}
