<!DOCTYPE html>
<html>
  <head>
    <title>Wundversorgung</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "diagram.css"%>
    <%= stylesheet_link_tag "image"%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "wound"%>
    <%= stylesheet_link_tag "comment_table"%>
    <%= stylesheet_link_tag "range"%>
    <%= stylesheet_link_tag "documentation"%>
    <%= stylesheet_link_tag "template"%>

    <%= stylesheet_link_tag "reminder"%>
    <%= stylesheet_link_tag "all_images"%>
    <%= stylesheet_link_tag "tabmarker"%>
    <%= stylesheet_link_tag "reminder_popup"%>
    
  </head>

  <body>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
